#### Problem statement:

If someone is considering to book a flight but it doesn’t matter what month or 
time he/she travels than get to know the  airfare ahead of time can be very 
beneficial so they can plan the trip accordingly.

Using Time series and other regression Model I’ll try to predict the 
Flight ticket pricing for different airlines such as United, Lufthansa.

#### Data :

Rest API https://english.api.rakuten.net/skyscanner/api/skyscanner-flight-search from skyscanner.

Google Flight API 

Fareportal API

#### Measurable:

I am planning to use MSE to check the Model fit.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('./848669477_T_DB1B_TICKET.csv')

In [3]:
df.head()

,ITIN_ID,COUPONS,YEAR,QUARTER,ORIGIN,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN_COUNTRY,ORIGIN_STATE_FIPS,...,ITIN_YIELD,REPORTING_CARRIER,PASSENGERS,ITIN_FARE,BULK_FARE,DISTANCE,DISTANCE_GROUP,MILES_FLOWN,ITIN_GEO_TYPE,Unnamed: 25
0,199317,3,1993,1,ABE,10135,1013501,30135,US,42,...,0.2857,AA,1.0,659.0,0.0,2307.0,5,2307.0,1,NaN
1,199318,6,1993,1,ABE,10135,1013501,30135,US,42,...,0.0000,AA,1.0,0.0,0.0,4768.0,10,4768.0,2,NaN
2,199319,2,1993,1,ABE,10135,1013501,30135,US,42,...,0.6690,AA,2.0,875.0,0.0,1308.0,3,1308.0,2,NaN
3,1993110,2,1993,1,ABE,10135,1013501,30135,US,42,...,0.1911,AA,2.0,250.0,0.0,1308.0,3,1308.0,2,NaN
4,1993111,2,1993,1,ABE,10135,1013501,30135,US,42,...,0.1636,AA,2.0,214.0,0.0,1308.0,3,1308.0,2,NaN

In [4]:
df.shape

(1490952, 26)

In [5]:
df.columns

Index(['ITIN_ID', 'COUPONS', 'YEAR', 'QUARTER', 'ORIGIN', 'ORIGIN_AIRPORT_ID',
       'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN_CITY_MARKET_ID', 'ORIGIN_COUNTRY',
       'ORIGIN_STATE_FIPS', 'ORIGIN_STATE_ABR', 'ORIGIN_STATE_NM',
       'ORIGIN_WAC', 'ROUNDTRIP', 'ONLINE', 'DOLLAR_CRED', 'ITIN_YIELD',
       'REPORTING_CARRIER', 'PASSENGERS', 'ITIN_FARE', 'BULK_FARE', 'DISTANCE',
       'DISTANCE_GROUP', 'MILES_FLOWN', 'ITIN_GEO_TYPE', 'Unnamed: 25'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490952 entries, 0 to 1490951
Data columns (total 26 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   ITIN_ID                1490952 non-null  int64
 1   COUPONS                1490952 non-null  int64
 2   YEAR                   1490952 non-null  int64
 3   QUARTER                1490952 non-null  int64
 4   ORIGIN                 1490952 non-null  object
 5   ORIGIN_AIRPORT_ID      1490952 non-null  int64
 6   ORIGIN_AIRPORT_SEQ_ID  1490952 non-null  int64
 7   ORIGIN_CITY_MARKET_ID  1490952 non-null  int64
 8   ORIGIN_COUNTRY         1490952 non-null  object
 9   ORIGIN_STATE_FIPS      1490952 non-null  int64
 10  ORIGIN_STATE_ABR       1490952 non-null  object
 11  ORIGIN_STATE_NM        1490952 non-null  object
 12  ORIGIN_WAC             1490952 non-null  int64
 13  ROUNDTRIP              1490952 non-null  float64
 14  ONLINE                 1490952 non-null  float64
 15  DOLLAR_CRED            1490952 non-null  int64
 16  ITIN_YIELD             1490952 non-null  float64
 17  REPORTING_CARRIER      1490952 non-null  object
 18  PASSENGERS             1490952 non-null  float64
 19  ITIN_FARE              1490952 non-null  float64
 20  BULK_FARE              1490952 non-null  float64
 21  DISTANCE               1490952 non-null  float64
 22  DISTANCE_GROUP         1490952 non-null  int64
 23  MILES_FLOWN            1490952 non-null  float64
 24  ITIN_GEO_TYPE          1490952 non-null  int64
 25  Unnamed: 25            0 non-null        float64
dtypes: float64(9), int64(12), object(5)
memory usage: 295.8+ MB